*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body {
    font-family:Arial,sans-serif;
    line-height:1.6;
    background-color: #f4f4f4;;
    color:#333;
}
header{
    background-color: #333;
    color:white;
    text-align:center;
    padding: 20px;
}
header.logo h1{
    margin:0;
    font-size: 3rem;
}
header.tagline{
    font-size: 1.2rem;
}
section{
    padding:40px 20px;
}
#about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#about img.profile-img{
    border-radius:50%;
    width: 150px;
    height: 150px;
}
.bio{
    max-width:600px;
}
#skills ul{
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
#skills li{
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
}
#projects.project{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align:center;
}
#projects img{
    max-width:100%;
    height:auto;
    border-radius: 8px;
}
#resume.resume-link{
    color:#333;
    text-decoration: none;
    font-weight: bold;
    padding : 10px 20px;
    background-color: #44c767;
    border-radius: 5px;
}
#contact p{
    font-size: 1.1rem;
}
footer{
    background-color: #333;
    color:white;
    text-align: center;
    padding: 20px;
}
footer a{
    color:#44c767;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover{
    text-decoration: underline;
}